<h1 class="tracking-tight text-2xl text-blue-500 font-semibold">Edit organization: <%= org.display_name %></h1>

<%= render partial: 'shared/alerts' %>

<div class="mt-5">
  <div class="p-5 border-2 border-gray-500 border-grey-200 rounded-md">
    <%= form_for :org, routes.org_path(org.id), method: :patch, values: { org: org } do
      div class: 'grid grid-cols-1 gap-5' do
        div class: 'max-w-lg' do
          label :name, class: 'text-gray-700'
          text_field :name, class: 'form-input w-full border-2 rounded-md mt-2 h-10 p-2'
        end
        
        div class: 'max-w-lg' do
          label :display_name, class: 'text-gray-700'
          text_field :display_name, class: 'form-input w-full border-2 rounded-md mt-2 h-10 p-2'
        end

        div class: 'max-w-lg' do
          label :address, class: 'text-gray-700'
          text_field :address, class: 'form-input w-full border-2 rounded-md mt-2 h-10 p-2'
        end

        div class: 'max-w-lg' do
          label :phone_numbers, class: 'text-gray-700' do
            'Phone numbers'
          end
          text_field :phone_numbers, class: 'form-input w-full border-2 rounded-md mt-2 h-10 p-2'
        end

        div do
          submit 'Update', class: 'bg-blue-500 hover:bg-blue-600 text-white rounded py-2 px-4 border border-black border-opacity-25'
        end
      end
    end %>  
  </div>  
</div>