<h1 class="tracking-tight text-2xl text-blue-500 font-semibold">POS <%= pos_session.profile.name %></h1>


<div class="btn btn-group">
  <button class="btn btn-active">A</button>
  <button class="btn">B</button>
  <button class="btn">C</button>
</div>