<div class="flex justify-center">
  <%=
    form_for :user, routes.register_user_path, class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-1/3 border-grey-400 border' do
      div class: 'mb-4' do
        email_field :email, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder: 'Your email'
      end

      div class: 'mb-4' do
        text_field :username, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder: 'Set your username'
      end

      div class: 'mb-4' do
        password_field :password, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder: 'Specify your password'
      end

      div class: 'mb-4' do
        password_field :password_confirmation, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder: 'Confirm your password'
      end

      div class: 'flex items-center justify-between mb-4' do
        submit 'Sign Up', class: 'bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline block'
      end

      div do
        link_to "Already have an account? Sign in here!" , routes.sign_in_path, class: 'block text-blue-500 text-sm mb-2 hover:text-blue-300'
      end
    end
  %>
</div>

<% unless flash[:errors].nil? %>
  <%= flash[:errors].join(', ') %>
<% end %>

