<h1 class="tracking-tight text-2xl text-blue-500 font-semibold">Edit: <%= product.name %></h1>

<%= render partial: 'shared/alerts' %>

<div class="mt-5">
  <div class="p-5 border-2 border-gray-500 border-grey-200 rounded-md">
    <%= render partial: 'products/form', locals: { path: routes.product_path(product.id), opts: { method: :patch, values: { product: product }}} %>
  </div>  
</div>
