<h1 class="tracking-tight text-2xl text-blue-500 font-semibold">New product</h1>

<%= render partial: 'shared/alerts' %>

<div class="mt-5">
  <div class="p-5 border-2 border-gray-500 border-grey-200 rounded-md">
    <%= render partial: 'products/form', locals: { path: Main.routes.products_path, opts: {}} %>
  </div>  
</div>
